mixin HeroSection 
  section#home.mb-6.mb-lg-8.mb-xxl-10.text-center.text-lg-start.mt-9
    div 
      .row.g-4.g-lg-6.g-xl-7.align-items-center
        .col-12.col-lg-6
            img(src=`${CWD}assets/img/Hero/hero1.png`, alt="").img-fluid.w-50.w-lg-100
        .col-12.col-lg-6
          h1.fs-5.fs-md-3.fs-xxl-2.text-secondary.text-capitalize.fw-light.mb-13.mb-lg-7
            span.fw-bold About us
          p.fs-8.fs-md-11.fs-xxl-7.text-primary.mb-5.mb-lg-6.mb-xl-7.fw-light
            | VQORDER CO., LTD.  is a Taiwan-based international company, founded in 2013, serving customers in different countries today. With over 10 years of experience in the security industry, VQORDER has been the pioneer of video-based security related technology developments and innovations. 
          p.fs-8.fs-md-11.fs-xxl-7.text-primary.mb-5.mb-lg-6.mb-xl-7.fw-light
            | VQORDER developed products and solutions are widely adopted thanks to their compliance with various security requirements, such as NDAA), and thanks to the adaptivness to the special needs and requirements of the vertical markets.

